@font-face {
  font-family: "iconfont"; /* Project id 2888079 */
  src: url('//at.alicdn.com/t/font_2888079_jwlcmjjvb2.woff2?t=1650783200968') format('woff2'),
       url('//at.alicdn.com/t/font_2888079_jwlcmjjvb2.woff?t=1650783200968') format('woff'),
       url('//at.alicdn.com/t/font_2888079_jwlcmjjvb2.ttf?t=1650783200968') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e63b";
}

.icon-password:before {
  content: "\e65f";
}

.icon-duihao:before {
  content: "\e62f";
}

.icon-yinfu:before {
  content: "\e6d3";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-QQ:before {
  content: "\e668";
}

.icon-chacha:before {
  content: "\e62e";
}

.icon-kafei1:before {
  content: "\e664";
}

.icon-kafei:before {
  content: "\e60d";
}

.icon-smiling:before {
  content: "\e63f";
}

.icon-zhuti:before {
  content: "\e64a";
}

.icon-fengge:before {
  content: "\e623";
}

.icon-cha:before {
  content: "\e60c";
}

.icon-hulianwang:before {
  content: "\e60b";
}

.icon-huore:before {
  content: "\e609";
}

.icon-xiazai:before {
  content: "\e608";
}

.icon-replay:before {
  content: "\e654";
}

.icon-yinle:before {
  content: "\e607";
}

.icon-zhuanji:before {
  content: "\e60a";
}

.icon-gedan:before {
  content: "\e636";
}

.icon-quanping:before {
  content: "\e62c";
}

.icon-fenxiang:before {
  content: "\e6a5";
}

.icon-xiajiantou:before {
  content: "\e6cc";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiasanjiaoxing:before {
  content: "\e642";
}

.icon-shangsanjiaoxing:before {
  content: "\e643";
}

.icon-24gf-volumeZero:before {
  content: "\ea12";
}

.icon-aixin:before {
  content: "\e622";
}

.icon-lianjie:before {
  content: "\e606";
}

.icon-zanting1:before {
  content: "\e65e";
}

.icon-shoucang1:before {
  content: "\e639";
}

.icon-24gf-playlistMusic5:before {
  content: "\ea87";
}

.icon-liebiaoxunhuan:before {
  content: "\e6a3";
}

.icon-bofangqi-bofang:before {
  content: "\e6a4";
}

.icon-fanhui:before {
  content: "\e603";
}

.icon-qianjin:before {
  content: "\e605";
}

.icon-weibo:before {
  content: "\e666";
}

.icon-chuangjian:before {
  content: "\e612";
}

.icon-tianjia:before {
  content: "\e604";
}

.icon-shipin:before {
  content: "\eafb";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-nan:before {
  content: "\e8b3";
}

.icon-nv:before {
  content: "\e8b4";
}

.icon-gerenzhuye:before {
  content: "\e621";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-pinglun:before {
  content: "\e602";
}

.icon-bofangqi-bofangshu:before {
  content: "\e66e";
}

.icon-del:before {
  content: "\e617";
}

.icon-suiji:before {
  content: "\e7b8";
}

.icon-xunhuan:before {
  content: "\e6a9";
}

.icon-yinliang:before {
  content: "\e87a";
}

.icon-danquxunhuan:before {
  content: "\e66d";
}

.icon-wj-bflb:before {
  content: "\e724";
}

.icon-24gl-volumeZero:before {
  content: "\ea0d";
}

.icon-xunhuan1:before {
  content: "\e610";
}

.icon-bofang1:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-icon-:before {
  content: "\e648";
}

.icon-icon-1:before {
  content: "\e649";
}

.icon-suoding:before {
  content: "\e600";
}

.icon-jiesuo:before {
  content: "\e601";
}

.icon-shoucang:before {
  content: "\e632";
}

.icon-bofang:before {
  content: "\e6a2";
}

.icon-erji:before {
  content: "\e616";
}

.icon-yunhang:before {
  content: "\ec61";
}
